@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model Asp.net_Core_Project.ViewModels.BarDetailsViewModel





@{
    ViewData["Title"] = @Model.Name;
}


<div class="details-content d-block" style="margin:auto;padding:1rem;" id="@Model.Id">

    <img src="@Model.ImageUrl" class="card-img-details d-flex justify-content-center" style="height:500px;width:960px;margin:auto;">

    <div style="margin:auto;padding:2rem;">
        @*Reservation Modal*@
        <div class="modal" tabindex="-1" role="dialog" id="ReservePlacesModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reserve Place/s in @Model.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            @await Html.PartialAsync("ReservationPlacesModal.cshtml", @Model.Reservation)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            @if (this.UserManager.GetUserId(this.User) == Model.OwnerId)
            {
                <button type="button" asp-action="Edit" class="btn btn-primary">Edit</button>
                <br >
                <form method="post" asp-action="Delete" asp-controller="Bars" asp-route-id="@Model.Id" style="margin-left:1rem;margin-right:1rem;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <br>
            }
            else
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReservePlacesModal">
                    Reserve Place/s in @Model.Name
                </button>
            }
        </div>
    </div>
</div>
